h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #777777;
  margin: 10px 5px 10px;
  text-align: left;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #777777;
  margin: 10px 5px 10px;
  text-align: left;
}

.input-field-error-markup {
	color: red;
	border-style: solid;
	border-width: 2px;
	border-color: red;
}
